@model List<Gameland.Models.moviesData>
@{
    ViewBag.Title = "dashboardPage";
    Layout = null;


}
<html>
<head>
    <title>Movies Table</title>
    @*Css*@
    <link rel="stylesheet" href="~/Content/AdminPannel/movieTables/newMovieTableCss.css">
    <link rel="stylesheet" href="~/Content/AdminPannel/dashboard/sideBarCss.css">
    @*Font awesome*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*font family*@
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <style>
        .mainBox {
            width: 100%;
            display: flex;
        }

        .pageContent {
            width: 1270px;
            height: 800px;
        }

        .dummyBox {
            width: 250px;
            height: 780px;
        }

        .editMovieBox {
            height: 500px;
            width: 30%;
            background-color: #F2F4F6;
            position: absolute;
            margin-top: 150px;
            margin-left: 400px;
            visibility: hidden;
        }
    </style>
</head>

<body>
    <div class="blur-box" id="blurBox">
    </div>
    <div class="mainBox">
        <div class="dummyBox">

        </div>
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <h2 style="background-color: #696969; color:white; margin-bottom:60px; margin-top:30px">GameLand</h2>
                <ul class="list-unstyled components mb-5">


                    <li>
                        <a href="@Url.Action("dashboardPage","forAdminPannel")">Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Table</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="@Url.Action("movieTable","movieTable")">Movies</a>
                            </li>
                            <li>
                                <a href="@Url.Action("gameTable","gameTable")">Games</a>
                            </li>
                            <li>
                                <a href="@Url.Action("seriesTable","seriesTable")">Series</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("calender","forMessage")">Calender</a>
                    </li>




                    <li>
                        <a href="@Url.Action("userMessage","forMessage")">Message <span style="background-color:red; border-radius:100%;padding:2px 8px;color:white;margin-left:100px">@Session["totalMessage"]</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("homePage","forHomePage")">Logout</a>
                    </li>



                </ul>

                <div class="mb-5">
                    <h3 class="h6">Search</h3>
                    <form action="#" class="colorlib-subscribe-form">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Dz Gameland</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>@*navbar content ends*@
        <div class="pageContent">
            @*Form Box*@
            <div class="addMovieBox" id="addMovieBox">
                <button onclick="hide();"><i class="fa fa-close"></i></button>
                <div class="addMovieForm">
                    @using (Html.BeginForm("saveData", null, FormMethod.Post, new { @class = "", @enctype = "multipart/form-data" }))
                    {
                        <label> Movie Name</label>

                        <input type="text" class="forForm" placeholder="Movie Name" name="movieName">

                        <label>Price</label>

                        <input type="text" class="forForm" placeholder="Movie Price" name="moviePrice">

                        <label>Type</label>

                        <input type="text" class="forForm" placeholder="Movie Type" name="movieType">

                        <label>Type</label>

                        <input type="text" class="forForm" placeholder="Product Categories" name="productType">

                        <label> choose Image</label>

                        <input type="file" value="Choose a Image" name="SelectedImg">


                        <input type="submit" value="Add +" class="btn btn-success" style="width: 100%; margin-top: 20px; height: 50px; font-size: 20px;">


                    }
                </div>

            </div>




            @*Form Box ends*@

            @foreach (var data in Model)
            {
                <div class="editMovieBox1" id="editMovieBox_@data.movieName">
                    <button id="editMovieBox_@data.movieName" onclick="hideEditBox(this.id);"><i class="fa fa-close"></i></button>
                    <div class="addMovieForm">

                        @using (Html.BeginForm("updateData", null, FormMethod.Post, new { @class = "", @enctype = "multipart/form-data" }))
                        {
                            <form action="saveData">
                                <label> Movie Name</label>

                                <input type="text" class="forForm" placeholder="Movie Name" name="movieName" value="@data.movieName" />

                                <label>Price</label>

                                <input type="text" class="forForm" placeholder="Movie Price" name="moviePrice" Value="@data.moviePrice" />

                                <label>Type</label>

                                <input type="text" class="forForm" placeholder="Movie Type" name="movieType" value="@data.movieType" />

                                <label>Type</label>

                                <input type="text" class="forForm" placeholder="Product Categories" name="productType" value="@data.productType">

                                <label> choose Image</label>

                                <input type="file" value="Choose a Image" name="SelectedImg">


                                <input type="submit" value="Update" class="btn btn-warning" style="width: 100%; margin-top: 20px; height: 50px; font-size: 20px;">

                            </form>
                        }

                    </div>
                </div>
            }
            <h1 class="heading">Movies</h1>
            <div class="mainDiv">
                <div class="totalMovies">
                    <p>@Model.Count<span>Movies</span></p>
                </div>
                <div class="controller">
                    <button class="gotoShop" onclick="show();" style="width:100px;">Add</button>
                    <div class="searchBox">
                        @using (Html.BeginForm("Search", "movieTable", FormMethod.Post))
                        {
                            <div class="searchbar">
                                <input type="text" class="searchbar__input" name="name1" placeholder="Search Movies">
                                <button type="submit" class="searchbar__button">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        }

                    </div>
                </div>

            </div>
            <div class="forTable">
                <table class="table" border="1">
                    <tr>
                        <th rowspan="2" class="rowSpan" style="padding-top:30px;">Movie Name</th>
                        <th rowspan="2" style="padding-top:30px;">Price</th>
                        <th rowspan="2" style="padding-top:30px;">Type</th>
                        <th rowspan="2" style="padding-top:30px;">Product Type</th>
                        <th rowspan="2" style="padding-top:30px;">Image</th>
                        <th colspan="2">Action</th>
                    </tr>
                    <tr>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td style="padding-top:40px;">@(data.movieName)</td>
                            <td style="padding-top:40px;">@(data.moviePrice)</td>
                            <td style="padding-top:40px;">@(data.movieType)</td>
                            <td style="padding-top:40px;">@(data.productType)</td>
                            <td><img src="@(data.movieImg!=null?Url.Content(data.movieImg):"")" height="100" width="70" /></td>
                            <td style="padding-top:40px;"><button id="@data.movieName" onclick="showEditBox(this.id);" style="background:none;border-style:none;"><a @*href="@Url.Action("Edit", new {name=data.movieName})"*@><i class="material-icons" style="color:green;">edit</i></a></button></td>
                            <td style="padding-top:40px;"><button style="background:none;border-style:none;"><a href="@Url.Action("Delete", new {name=data.movieName})"><i class="material-icons" style="color:red;">delete</i></a></button></td>

                        </tr>


                    }
                </table>
            </div>

            @*recent purchase table ends*@


        </div>@*pageContent*@

    </div>@*mainBox ends*@
    <script>
        function show() {
            document.getElementById("addMovieBox").style.visibility = "visible";
            document.getElementById("blurBox").style.visibility = "visible";
        }

        function hide() {
            document.getElementById("addMovieBox").style.visibility = "hidden";
            document.getElementById("blurBox").style.visibility = "hidden";
        }
        function showEditBox(id) {
            document.getElementById("editMovieBox_" + id).style.visibility = "visible";
            document.getElementById("blurBox").style.visibility = "visible";
        }
        function hideEditBox(id) {
            document.getElementById(id).style.visibility = "hidden";
            document.getElementById("blurBox").style.visibility = "hidden";
        }

    </script>
    <script src="~/Content/AdminPannel/dashboard/jquery.min.js"></script>
    <script src="~/Content/AdminPannel/dashboard/popper.js"></script>
    <script src="~/Content/AdminPannel/dashboard/bootstrap.min.js"></script>
    <script src="~/Content/AdminPannel/dashboard/main.js"></script>
</body>
</html>