
@{
    ViewBag.Title = "header";
    Layout = null;
}

@*navbar design begins*@
<section class="navbar">
    <img src="~/Content/homePage/image/gameland.jpg" alt="" class="logo">
    <div class="nav-links">
        <ul>
            <li><a href="@Url.Action("homePage","forHomePage")">Home</a></li>
            <li><a href="#productCategories">Product</a></li>
            @*<li><a href="@Url.Action("forCart","myCart")">Cart</a></li>*@
            <li><a href="@Url.Action("contactUsPage","contactUs")">Contact</a></li>
            <li><a href="@Url.Action("aboutUs","forHomePage")">About Us</a></li>
        </ul>
    </div>
    <div class="login-and-signup">
        <a href="#" class="signIn">Sign in</a>
        <a href="#" class="logIn">Log in</a>
    </div>
</section>
@*<button type="button" class="btn btn-secondary"><a href="@Url.Action("loginPage","forLoginPage")"> Sign Out</a></button>*@
@*navbar desing ends*@

