
@{
    ViewBag.Title = "header";
    Layout = null;
}

@*navbar design begins*@
<div class="navbar1">
    <div class="forLogo">
        <img src="~/Content/homePage/image/gameland.jpg" alt="logo" />
    </div>
    <div class="forTopic">
        <ul>
            <li><a href="@Url.Action("homePage","forHomePage")">Home</a></li>
            <li><a href="#productCategories">Product</a></li>
            <li><a href="@Url.Action("forCart","myCart")">Cart</a></li>
            <li><a href="@Url.Action("contactUsPage","contactUs")">Contact</a></li>
            <li><a href="@Url.Action("aboutUs","forHomePage")">About Us</a></li>
        </ul>
    </div>
    <div class="forLogOut">
        <button type="button" class="btn btn-secondary"><a href="@Url.Action("loginPage","forLoginPage")"> Sign Out</a></button>
    </div>

</div>
@*navbar desing ends*@

