@model List<Gameland.Models.gamesData>

@foreach (var data in Model)
{
    using (Html.BeginForm("AddToCartGame", "myCart", FormMethod.Post, new { @class = "", id = "" }))
    {
        <input type="hidden" value="@data.gameName" name="productName" />
        <div class="gameBox">
            <div class="forGameImage">
                <img src="@(data.gamesImg != null ? Url.Content(data.gamesImg) : "")" alt="image" />
            </div>
            <div class="forGamePrice">
                <div class="gameName">
                    <p>@(data.gameName)</p>
                </div>
                <div class="gameOriginalPrice">
                    <p>Rs<span>@(data.gamePrice) </span></p>
                </div>
                <div class="gameCart">
                    <button>Add To Cart <i class="fa fa-shopping-cart" style="color:white ;"></i></button><span>@(data.productType)</span>
                </div>
            </div>
        </div>
    }
}


