@model List<Gameland.Models.recentlyPurchaseProduct>
@{
    ViewBag.Title = "dashboardPage";
    Layout = null;
   int SN = 1;
}

<!doctype html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*Css links*@
    <link rel="stylesheet" href="~/Content/AdminPannel/dashboard/dashboardCss.css">
    <link rel="stylesheet" href="~/Content/AdminPannel/dashboard/sideBarCss.css">
    @*Font awesome*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*font family*@
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    @*Graph and Pie Chart*@
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <style>
        .mainBox {
            display: flex;
        }

        .pageContent {
            width: 1270px;
            margin-left: 0;
        }

        .dummyBox {
            width: 250px;
            height: 780px;
            background-color: red;
        }
    </style>
</head>
<body>

    <div class="mainBox">
        <div class="dummyBox">

        </div>
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <h2 style="background-color: #696969; color:white; margin-bottom:60px; margin-top:30px">GameLand</h2>
                <ul class="list-unstyled components mb-5">


                    <li>
                        <a href="@Url.Action("dashboardPage","forAdminPannel")">Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Table</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="@Url.Action("movieTable","movieTable")">Movies</a>
                            </li>
                            <li>
                                <a href="@Url.Action("gameTable","gameTable")">Games</a>
                            </li>
                            <li>
                                <a href="@Url.Action("seriesTable","seriesTable")">Series</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("calender","forMessage")">Calender</a>
                    </li>
               

                   
                </ul>

                <div class="mb-5">
                    <h3 class="h6">Subscribe for newsletter</h3>
                    <form action="#" class="colorlib-subscribe-form">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="text" class="form-control" placeholder="Enter Email Address">
                        </div>
                    </form>
                </div>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>@*navbar content ends*@
        <div class="pageContent">
            @*Header Part*@
            <div class="header">
                <div class="searchBox">
                    <form action="#" method="get">
                        <div class="searchbar">
                            <input type="text" class="searchbar__input" name="q" placeholder="Search...">
                            <button type="submit" class="searchbar__button">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="messageBox">
                  
                    <a href="@Url.Action("userMessage","forMessage")">
                        <button type="button" class="icon-button">
                            <span class="material-icons" style="font-size:30px; color:white; margin-top:5px;">mail</span>
                            <span class="icon-button__badge">@Session["totalMessage"]</span>
                           </button>
                    </a>
                   
                </div>
                <div class="adminBox">
                    <button class="click" style="color: #696969; font-family:'Poppins', sans-serif; "><i class="fa fa-user" style="color:white ; font-size:25px;"></i> </button>

                    <div class="list">

                        <button class="links" style="color: #696969; font-family:'Poppins', sans-serif;"><a href="#"><i class="fa fa-user-circle-o" style="color:green ; font-size:30px; margin-right: 20px;"></i>profile</a></button>

                        <button class="links" style="color: #696969; font-family:'Poppins', sans-serif;"><a href="@Url.Action("homePage","forHomePage")"><i class="fa fa-sign-out" style="color:darkorange ; font-size:25px; margin-right: 10px;"></i>Log out</a></button>

                    </div>
                    <script>

                        let click = document.querySelector('.click');

                        let list = document.querySelector('.list');

                        click.addEventListener("click", () => {

                            list.classList.toggle('newlist');

                        });
                    </script>
                </div>
            </div>
            @*header part ends*@
            @*Product Count starts*@
            <div class="productBox">
                <div class="box1">
                    <div class="forIcon">
                        <span class="material-icons">
                            sports_esports
                        </span>
                    </div>

                    <div class="forText">
                        <div class="forCount">
                            <p>@Session["totalGames"]</p>
                        </div>
                        <div class="forName">
                            <p>Games</p>
                        </div>
                    </div>
                </div>@*box 1 ends*@
                <div class="box2">
                    <div class="forIcon">
                        <span class="material-icons">
                            movie
                        </span>
                    </div>

                    <div class="forText">
                        <div class="forCount">
                            <p>@Session["totalMovies"]</p>
                        </div>
                        <div class="forName">
                            <p>Movies</p>
                        </div>
                    </div>
                </div>@*box 2 ends*@
                <div class="box3">
                    <div class="forIcon">
                        <span class="material-icons">
                            subscriptions
                        </span>

                    </div>

                    <div class="forText">
                        <div class="forCount">
                            <p>@Session["totalSubs"]</p>
                        </div>
                        <div class="forName">
                            <p style="margin-left: 20px;"> Subscription</p>
                        </div>
                    </div>
                </div>@*box 3 ends*@
                <div class="box4">
                    <div class="forIcon">
                        <span class="material-icons">
                            theaters
                        </span>
                    </div>

                    <div class="forText">
                        <div class="forCount">
                            <p>@Session["totalSeries"]</p>
                        </div>
                        <div class="forName">
                            <p>Series</p>
                        </div>
                    </div>
                </div>@*box 4 ends*@
            </div>
            @*Product count ends*@
        <hr />
            @*Business Details starts*@
            <div class="businessBox">
                <div class="box5">
                    <div class="forIcon">
                        <span class="material-icons">
                            shopping_cart
                        </span>
                    </div>

                    <div class="forText">
                        <div class="forCount">
                            <p>@Model.Count()</p>
                        </div>
                        <div class="forName">
                            <p>Sales</p>
                        </div>
                    </div>
                </div>@*box 1 ends*@
                <div class="box6">
                    <div class="forIcon">
                        <span class="material-icons">
                            paid
                        </span>
                    </div>

                    <div class="forText">
                        <div class="forCount">
                            <p>@(Model.Sum(x=>x.purchasePrice))</p>
                        </div>
                        <div class="forName">
                            <p>Earning</p>
                        </div>
                    </div>
                </div>@*box 2 ends*@
                <div class="box7">
                    <div class="forIcon">
                        <span class="material-icons">
                            people_alt
                        </span>

                    </div>

                    <div class="forText">
                        <div class="forCount">
                            <p>@Session["totalUsers"]</p>
                        </div>
                        <div class="forName">
                            <p>Users</p>
                        </div>
                    </div>
                </div>@*box 3 ends*@
               
            </div>
            @*Businesss Details ends*@
       
            @*Graph and Pie Chart starts*@
            <div class="mainChartBox">
                <div class="graphBox">
                    <p>Product Count</p>
                    <canvas id="myChart"></canvas>
                </div>
                <div class="pieBox">
                    <p>Sales</p>
                    <canvas id="myPie"></canvas>
                </div>

            </div>
            @*Graph and pie chart ends*@
            @*recent Purchase table starts*@
            
        <div class="forTable">
            <h1>Recently purchase</h1>
            <table class="table" border="1">
                <tr id="header">
                    <th>SN</th>
                    <th>User name</th>
                    <th>Purchase Name</th>
                    <th>Purchase Img</th>
                    <th>type</th>
                    <th>price</th>
                </tr>
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@(SN++)</td>
                        <td>@(data.userName)</td>
                        <td>@(data.purchaseName)</td>
                        <td><img src="@(data.purchaseImg!=null?Url.Content(data.purchaseImg):"")" height="100" width="50" /</td>
                        <td>@(data.purchaseType)</td>
                        <td>@(data.purchasePrice)</td>




                    </tr>


                }

            </table>

        </div>
            
               
            @*recent purchase table ends*@
        </div>@*Page Content ends*@




    </div>@*mainDiv ends ends*@
<script>
        const ctx = document.getElementById("myChart").getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Games', 'Movies', 'Series', 'Subscription'],
                datasets: [{
                    label: '',
                    data: [@Session["totalGames"], @Session["totalMovies"], @Session["totalSeries"], @Session["totalSubs"]],
                    backgroundColor: [
                        'red',
                        '#27a9e3',
                        '#808080',
                        '#28b779',

                    ],

                }]
            },
            options: {
                Response: true,
            }
        });
        const ctx1 = document.getElementById('myPie').getContext('2d');
        const myPie = new Chart(ctx1, {
            type: 'doughnut',
            data: {
                labels: ['Movies', 'Games', 'Series'],
                datasets: [{
                    label: 'Product Sales',
                    data: [@Session["totalMovieDownload"],@Session["totalGameDownload1"], @Session["totalSeriesDownload"] ],
                    backgroundColor: [
                        '#28b779',
                        '#27a9e3',
                        '#ffb848',
                        '#da542e',
                    ],

                }]
            },
            options: {
                Response: true,
            }
        });
</script>

    <script src="~/Content/AdminPannel/dashboard/jquery.min.js"></script>
    <script src="~/Content/AdminPannel/dashboard/popper.js"></script>
    <script src="~/Content/AdminPannel/dashboard/bootstrap.min.js"></script>
    <script src="~/Content/AdminPannel/dashboard/main.js"></script>
</body>
</html>

