@model List<Gameland.Models.gamesData>
@{
    ViewBag.Title = "gameContent";
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/product/games/newGameCss1.css" />
    <link rel="stylesheet" href="~/Content/homePage/css/headerAndFooter.css" />
    @*Bootstrap link*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    @*Font awesome link*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*font link*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Game Content</title>
</head>
<body>
    <button class="cartButton1"><a href="@Url.Action("forCart", "myCart")"><i class="fa fa-shopping-cart" id="cart1"></i><span class="cartSpan1">@Session["totalOrder"]</span></a></button>
    @*navbar design begins*@
    @{ Html.RenderAction("header", "forHeader");}
    @*navbar desing ends*@
    @*Game name and search button starts*@
    <div class="gameNameAndSearch">
        <div class="gameText">
            <p>Games</p>
        </div>
    </div>

    @*Game name and search button ends*@
    @*Total product content starts*@
    <div class="mainDiv">
        <div class="totalGames">
            <p>@Model.Count<span>games</span></p>
        </div>
        <div class="controller">
            <div class="categories">
                <button class="click">Categories<i class="fa fa-angle-down"></i></button>

                <div class="list">
                    @using (Html.BeginForm("Sort", "forGame", FormMethod.Post))
                    {
                        <input type="text" hidden value="Open World" name="name2" />
                        <button type="submit" class="links">Open World</button>
                    }
                    @using (Html.BeginForm("Sort", "forGame", FormMethod.Post))
                    {
                        <input type="text" hidden value="Action" name="name2" />
                        <button type="submit" class="links" >Action</button>
                    }
                    @using (Html.BeginForm("Sort", "forGame", FormMethod.Post))
                    {
                        <input type="text" hidden value="Sport" name="name2" />
                        <button type="submit" class="links">Sport</button>
                    }
                    @using (Html.BeginForm("Sort", "forGame", FormMethod.Post))
                    {
                        <input type="text" hidden value="Shooting" name="name2" />
                        <button type="submit" class="links">Shooting</button>
                    }
                </div>

            </div>
            <script>

                let click = document.querySelector('.click');

                let list = document.querySelector('.list');

                click.addEventListener("click", () => {

                    list.classList.toggle('newlist');

                });
            </script>
            <div class="searchButton">
                @using (Html.BeginForm("Search", "forGame", FormMethod.Post))
                {
                    <div class="searchbar">
                        <input type="text" class="searchbar__input" name="name1" placeholder="Search Games">
                        <button type="submit" class="searchbar__button">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                }
            </div>
        </div>

    </div>
    @*Total poduct content ends*@
    @*Games content starts*@
    @if (@Model.Count != 0)
    {
        <div class="gameContent">
            @foreach (var data in Model)
            {
                using (Html.BeginForm("AddToCartGame", "myCart", FormMethod.Post, new { @class = "", id = "" }))
                {
                    <input type="hidden" value="@data.gameName" name="productName" />
                    <div class="gameBox">
                        <div class="forGameImage">
                            <img src="@(data.gamesImg != null ? Url.Content(data.gamesImg) : "")" alt="image" />
                        </div>
                        <div class="forGamePrice">
                            <div class="gameName">
                                <p>@(data.gameName)</p>
                            </div>
                            <div class="gameOriginalPrice">
                                <p>Rs <span>@(data.gamePrice)</span></p>
                            </div>
                            <div class="gameCart">
                                <button>Add To Cart <i class="fa fa-shopping-cart" style="color:white ;"></i></button><span>@(data.productType)</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <div class="emptyBox" id="nothingBox">
            <img src="~/Content/homePage/image/customer/nothing found.png" width="500" height="300" />
            <p>No game found</p>
        </div>
    }



    @*content ends*@
    @*Footer Contain start*@
    @{Html.RenderAction("footer", "forFooter"); }
    @*Footer Contain Ends*@
</body>
</html>
