@model List<Gameland.Models.messageBoxData1>
@{
    ViewBag.Title = "dashboardPage";
    Layout = null;


}
<html>
<head>
    <title>Movies Table</title>
    @*Css*@
    <link rel="stylesheet" href="~/Content/AdminPannel/movieTables/newMovieTableCss.css">
    <link rel="stylesheet" href="~/Content/AdminPannel/dashboard/sideBarCss.css">
    @*Font awesome*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*font family*@
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <style>
        .mainBox {
            width: 100%;
            display: flex;
        }

        .pageContent {
            width: 1270px;
            height: 800px;
        }

        .dummyBox {
            width: 250px;
            height: 780px;
        }

        .editMovieBox {
            height: 500px;
            width: 30%;
            background-color: #F2F4F6;
            position: absolute;
            margin-top: 150px;
            margin-left: 400px;
            visibility: hidden;
        }
    </style>
</head>

<body>
    <div class="mainBox">
        <div class="dummyBox">

        </div>
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <h2 style="background-color: #696969; color:white; margin-bottom:60px; margin-top:30px">GameLand</h2>
                <ul class="list-unstyled components mb-5">


                    <li>
                        <a href="@Url.Action("dashboardPage","forAdminPannel")">Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Table</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="@Url.Action("movieTable","movieTable")">Movies</a>
                            </li>
                            <li>
                                <a href="@Url.Action("gameTable","gameTable")">Games</a>
                            </li>
                            <li>
                                <a href="@Url.Action("seriesTable","seriesTable")">Series</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("calender","forMessage")">Calender</a>
                    </li>
                    <li>
                        <a href="@Url.Action("userMessage","forMessage")">Message</a>
                    </li>
                    <li>
                        <a href="@Url.Action("homePage","forHomePage")">Logout</a>
                    </li>



                </ul>

                <div class="mb-5">
                    <h3 class="h6">Search</h3>
                    <form action="#" class="colorlib-subscribe-form">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Dz Gameland</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>@*navbar content ends*@
        <div class="pageContent">


           


            @*recent Purchase table starts*@
            <div class="forTable">
               
                <h1 style="font-size:3.2rem;letter-spacing:2px;margin-bottom:10px">Message</h1>
                <table class="table" border="1">
                  
                    <tr>
                        <th  class="rowSpan">User Name</th>
                        <th >Email</th>
                        <th >Subject</th>
                        <th >Message</th>
                        <th >Delete</th>
                    </tr>
                   
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td>@(data.userName)</td>
                            <td>@(data.email)</td>
                            <td>@(data.subject)</td>
                            <td>@(data.message)</td>
                            <td><button style="background:none;border-style:none;"><a href="@Url.Action("Delete", new {name=data.messageId})"><i class="material-icons" style="color:red;">delete</i></a></button></td>

                        </tr>


                    }
                </table>
            </div>

            @*recent purchase table ends*@


        </div>@*pageContent*@

    </div>@*mainBox ends*@
   
    <script src="~/Content/AdminPannel/dashboard/jquery.min.js"></script>
    <script src="~/Content/AdminPannel/dashboard/popper.js"></script>
    <script src="~/Content/AdminPannel/dashboard/bootstrap.min.js"></script>
    <script src="~/Content/AdminPannel/dashboard/main.js"></script>
</body>
</html>